<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Events</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% block activehome %}{% endblock activehome %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {% block login %}
                <li class="nav-item {% block activelogin %}{% endblock activelogin %}">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                <li class="nav-item {% block activesignup %}{% endblock activesignup %}">
                    <a class="nav-link" href="/signup/">Signup</a>
                </li>
                {% endblock login %}
                {% block logout %}
                <li class="nav-item {% block activecreateevent %}{% endblock activecreateevent %}">
                    <a class="nav-link" href="/create-event/">Create Event</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/logout/">Logout</a>
                </li>
                {% endblock logout %}
            </ul>
        </div>
    </nav>

    {% block startbody %}

    {% endblock startbody %}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


  </body>
</html>