{% extends 'base.html' %}
{% block body %}
    <h1>More about your event!</h1>

    <ul class="list-group">
        <li class="list-group-item">{{ data.event_name }}</li>
        <li class="list-group-item">{{ data.event_category }}</li>
        <li class="list-group-item">{{ data.event_place }}</li>
        <li class="list-group-item">{{ data.event_address }}</li>
        <li class="list-group-item">{{ data.event_initial_date }}</li>
        <li class="list-group-item">{{ data.event_final_date }}</li>
        <li class="list-group-item">{{ data.event_type }}</li>
    </ul>
    <br>

    <form action="/event-detail/{{data.id}}/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Delete</button>
    </form>

    <form action="/event-update/{{data.id}}/" method="get">
        <button type="submit" class="btn btn-info">Update</button>
    </form>
{% endblock body %}
